body {
	font-family: 'Ubuntu', sans-serif;
}





/*    WEB SERVICES   */
section.webservices {
	background-color: #252b31;
	padding-top: 80px;
	padding-bottom: 80px;
	
	h2 {
		color: white;
		text-decoration: none;
		margin-bottom: 55px;
		margin-top: 0px;
	}

	.webservice-item {
		background-color: white;
		padding-top: 45px;
		width: 100%;
		text-align: center;
		padding-bottom: 45px;
		padding-left: 13%;
		padding-right: 13%;
		border-radius: 7px;
		min-height: 100px;
		display: block;
	
		.btn-webservices { 
			margin: 0 auto;
			height: auto;
			background-color: #077be6;
		
			i {
				color: #fff;	
			}
		}

		img.sis {
			margin-bottom: 27px;
		}
	}
}




/*    MKT DIGITAL    */
section.mkt-digital {
	padding-top: 80px;
	padding-bottom: 80px;

	div.mkt-digital-padding {
		padding-left: 10%;
		padding-right: 10%;
	}
}